<a href="https://colab.research.google.com/github/jahnavimidde/VsemML/blob/main/Lab1ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s=pd.Series(['A,','B','C'])
print(s)

0    A,
1     B
2     C
dtype: object

In [ ]:
"""9. Create the following DataFrame Sales containing
year wise sales figures for five sales persons in INR.
Use the years as column labels, and sales person
names as row labels.

2014 2015 2016 2017
Madhu 100.5 12000 20000 50000
Kusum 150.8 18000 50000 60000
Kinshuk 200.9 22000 70000 70000
Ankit 30000 30000 100000 80000
Shruti 40000 45000 125000 90000"""


import pandas as pd
df=pd.DataFrame({2014:[1,2,3,4,5],2015:[1,12.3,45.5,78273,56],2016:[1,3,7,44,33],2017:[1,12.3,45.5,78273,56],2018:[1,3,7,44,33]},index=['madhu','kusum','john','Ankit','shruthi'])
print(df)

"""10. Use the DataFrame created in Question 9 above to
do the following:
a) Display the row labels of Sales.
b) Display the column labels of Sales.
c) Display the data types of each column of Sales.
d) Display the dimensions, shape, size and values
of Sales.
e) Display the last two rows of Sales.
f) Display the first two columns of Sales."""



print(df.index)
print(df.columns)
print(df.dtypes)

print(df.ndim)
print(df.shape)
print(df.size)
print(df.values)
print(df.tail(2))
print(df.iloc[:,:2])



"""g) Create a dictionary using the following data. Use
this dictionary to create a DataFrame Sales2.

2018
Madhu 160000
Kusum 110000
Kinshuk 500000
Ankit 340000
Shruti 900000

h) Check if Sales2 is empty or it contains data."""
data = {
    '2018': {
        'Madhu': 160000,
        'Kusum': 110000,
        'Kinshuk': 500000,
        'Ankit': 340000,
        'Shruti': 900000
    }
}
print(data)
df2=pd.DataFrame(
    {'2018': {
        'Madhu': 160000,
        'Kusum': 110000,
        'Kinshuk': 500000,
        'Ankit': 340000,
        'Shruti': 900000
    }
    }
)
print(df2)
print(df2.empty)

         2014     2015  2016     2017  2018
madhu       1      1.0     1      1.0     1
kusum       2     12.3     3     12.3     3
john        3     45.5     7     45.5     7
Ankit       4  78273.0    44  78273.0    44
shruthi     5     56.0    33     56.0    33
Index(['madhu', 'kusum', 'john', 'Ankit', 'shruthi'], dtype='object')
Index([2014, 2015, 2016, 2017, 2018], dtype='int64')
2014      int64
2015    float64
2016      int64
2017    float64
2018      int64
dtype: object
2
(5, 5)
25
[[1.0000e+00 1.0000e+00 1.0000e+00 1.0000e+00 1.0000e+00]
 [2.0000e+00 1.2300e+01 3.0000e+00 1.2300e+01 3.0000e+00]
 [3.0000e+00 4.5500e+01 7.0000e+00 4.5500e+01 7.0000e+00]
 [4.0000e+00 7.8273e+04 4.4000e+01 7.8273e+04 4.4000e+01]
 [5.0000e+00 5.6000e+01 3.3000e+01 5.6000e+01 3.3000e+01]]
         2014     2015  2016     2017  2018
Ankit       4  78273.0    44  78273.0    44
shruthi     5     56.0    33     56.0    33
         2014     2015
madhu       1      1.0
kusum       2     12.3
john        3     45.5
Ankit       4  78273.0
shruthi     5     56.0
{'2018': {'Madhu': 160000, 'Kusum': 110000, 'Kinshuk': 500000, 'Ankit': 340000, 'Shruti': 900000}}
           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
False

In [ ]:
print(df.add(df2,fill_value=0))

         2014     2015  2016     2017  2018      2018
Ankit     4.0  78273.0  44.0  78273.0  44.0  340000.0
Kinshuk   NaN      NaN   NaN      NaN   NaN  500000.0
Kusum     NaN      NaN   NaN      NaN   NaN  110000.0
Madhu     NaN      NaN   NaN      NaN   NaN  160000.0
Shruti    NaN      NaN   NaN      NaN   NaN  900000.0
john      3.0     45.5   7.0     45.5   7.0       NaN
kusum     2.0     12.3   3.0     12.3   3.0       NaN
madhu     1.0      1.0   1.0      1.0   1.0       NaN
shruthi   5.0     56.0  33.0     56.0  33.0       NaN